/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root{
    --tamanho-header: 80px;
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px); /* muda o tamanho do banner*/
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

/* HEADER */

.header{
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b9cd;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a{
    text-decoration: none;
    color: #e3b062;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 800;

}

/* BANNER */

.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}

/* SOCIAL */

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 170px;
}

/* FOOTER */

.footer {
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.version {
    font-size: 12px;
}

/* PAGINA DE LOGIN */

.login .container{
    height: var(--tamanho-login);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    justify-content: center;

}

.card{
    border-radius: 5px;
    align-items: center;
    background-color: #c8cecf;
    width: 500px;
    height: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.card-login h2{
    color: #b7629d;
    text-align: center;
}

.formulario{
    text-align: center;
    color: #b7629d;
    
}

.campo{
    display: flex;
    font-size: 15px ;
    font-weight: 800;
    flex-direction: column;
}
/* 
span {
    text-align: left;
    margin-left: 52px;
    margin-top: 10px;
} */

input {
    border-radius: 10px;
    border-color: aqua;
    border-bottom: 2px solid aqua;
    margin-left: 55px;
    margin-right: 55px;
    height: 30px;
    text-align: center;
    width: 85%;
}


.botao {
    background-color: crimson;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin: 10px;

}


/* PÁGINA DE CADASTRO */

.card-cadastro{
    background-color:  #e5e5e5;
    color: HotPink  ; 
    font-family: 'Barlow', sans-serif;
    padding: -10px;
    border-radius: 10px;
    width: 95vh;
    margin: 10px;

}
.card-cadastro h2 {
    text-align: center;
    margin-bottom: 20px;
  }


  /* PAGINA INDEX */

.banner {
    height: 200px;
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.banner .container p {
    width: 70%;
    margin: 0;
    padding: 0;
    font-size: 26px;
}

span {
    font-weight: 700;
}

.header a{
    text-decoration: none;
    color: white;
}

.titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 400;

}

.header{
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b9cd;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* SOCIAL */

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social .container { /* deixar no meio */
    display: flex;
    justify-content: center;
}
.social .container .boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 30px 0;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    text-align: center;
}

.box img {
    width: 170px;
}










